*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    position: relative;
}

body.grabbing * {
    cursor: grabbing !important;
}

h1,
h2 {
    margin: 0px;
    text-align: center;
    user-select: none;
}

#app {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#main-ctr {
    display: flex;
}

/* #game-board-ctr {
    perspective: 500px;
    transform: translateX(100px);
} */

/* Game Board */
#game-board {
    margin-top: 10px;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(11, 5vh);
    grid-template-rows: repeat(11, 5vh);
    grid-gap: 10px;

    /* transform-style: preserve-3d;
    transform: rotateX(45deg); */
}

.square {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.square.is-overlapped {
    background-color: blue;
}

.square.is-next-square {
    background-color: green;
}

.square.legend {
    background-color: transparent;
}

.square.legend.corner {
    background-color: transparent;
    color: transparent;
}

/* Ships */
#ships-ctr {
    margin-top: 10px;
}

#ships {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ship {
    text-align: center;
    cursor: pointer;
    margin: 10px;
    position: relative;
}

.hits {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    background-color: dimgray;
    color: whitesmoke;
}

.name {
    margin-top: 4px;
    font-size: 12px;
    user-select: none;
}

.ship.is-dragging .hits {
    background-color: lightgray;
}

.ship.is-dragging .name {
    color: lightgray;
}

.ship.is-dragged {
    user-select: none;
    position: absolute;
    z-index: 1000;
}

.ship.is-dragged.return {
    transition: top 200ms ease-in-out,
        left 200ms ease-in-out;
}

.ship.is-dragged.scale .hits {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.ship.is-dragged .name {
    display: none;
}

.ship.is-dragged .hits {
    box-shadow: 0px 0px 0px 0px transparent;
    transition: transform 200ms ease-in-out;
}

.pip-ctr {
    height: calc(2.5vh);
    width: calc(5vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pip {
    height: calc(2vh);
    width: calc(2vh);
    border-radius: 50%;
    background-color: whitesmoke;
}

.pip-ctr:not(:last-child) {
    margin-right: 10px;
}